body {
    background:#020617;
    color:#e5e7eb;
    font-family: monospace;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box {
    background:#020617;
    border:1px solid #1e293b;
    padding:25px;
    width:320px;
    text-align:center;
    border-radius:10px;
}

#key {
    background:black;
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    font-size:16px;
}

.hide {
    display:none;
}
